{% extends 'base.html' %}

{% block titulo %}Cadastro Novos Membros |{% endblock titulo %}

{% block 'head' %}
{% load static %}

<link href="{% static 'membros/css/membros.css' %}" rel="stylesheet">

{% endblock %}

{% block 'body' %}

    <div class="wrapper">
        <div class="box">
            <div class="header">
                <h3 class="titulo">Cadastro Membros de Equipe</h3>
            </div>

                {% comment %} mensagem de alerta! {% endcomment %}
                {% if messages %}
    
                    {% for message in messages %}
                        <br>                       
                        <section class="alert {{message.tags}}">
                            {{message}}
                        </section>                    
                    {% endfor %}            
                {% endif %}
            

            <div class="body-box">
                <form action="{% url 'membros' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <div class="row">
                        <div class="col-md">
                            <label>Nome do Projeto:</label>
                                <select id="projeto_select" class="form-select input-tarefa" name="projeto_id">
                                <option value="" disabled selected>----</option>
                                    {% for projeto in projetos %}                                    
                                        <option value={{projeto.id}}>{{projeto}}</option>                
                                    {% endfor %}   
                
                                </select>
                        </div>
                    </div>       
                    <br>
                    <div class="row">
                        <div class="col-md">
                            <label>Usuario:</label>
                                <select id="projeto_select" class="form-select input-tarefa" name="usuario_id">
                                <option value="" disabled selected>----</option>
                                    {% for usuario in usuarios %}                                    
                                        <option value={{usuario.id}}>{{usuario.first_name}} {{usuario.last_name}} </option>                
                                    {% endfor %}   
                
                                </select>
                        </div>
                    </div>       
                    <br>
                    <div class="row">
                        <div class="col-md">
                            <label>Perfil:</label>
                                <select class="form-select input-tarefa" name="perfil_id">
                                    <option value="" disabled selected>----</option>
                                    {% for perfil in perfil_usuario %}                              
                                        <option value={{perfil.id}}>{{perfil}}</option>                
                                    {% endfor %}   
                
                                </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md">
                            <label for="checkbox">Recebe Email?:</label>
                            <input type="checkbox" id="checkbox" name="recebe_email" value="true" >
                        </div>
                    </div>                    
                    <hr>
                
                    <input type="submit" value="Salvar" class="btn btn-lg btn-orange">

                </form>
                
                <br>
                
            </div>
        </div>
    </div>
   
{% endblock%}




