{% extends 'base.html' %}

{% block 'head' %}
{% load static %}

<link href="{% static 'base/css/projeto_demanda.css' %}" rel="stylesheet">

{% endblock %}

{% block titulo %}Novo Cadastro-{% endblock titulo %}

{% block 'conteudo' %}

    <body >
        <div class="pag">
            <ul class="ul1">
                <div class="li1">
                    <div class="li2">
                        <img class="img1" src="{% static 'fotos/pana.png' %}" alt="">
                        </div>
                            <button class="btn">
                                <a class = "a_link" href="{% url 'cadastro_novademanda' %}">Nova Demanda</a>                    
                            </button>                            
                        </div>
                    </div>
                </div>
            </ul>
        </div>                   
        <div class="pag">
            <ul class="ul1">
                <div class="li1">
                    <div class="li2">
                        <img class="img1" src="{% static 'fotos/rafiki.png' %}" alt="">
                        </div>
                            <button class="btn">
                                <a class = "a_link"  href="{% url 'novo_projeto' %}" >Novo Projeto</a>                  
                            </button>                            
                        </div>
                    </div>
                </div>
            </ul>
        </div>          

            
            
       
    </body>



{% endblock 'conteudo' %}


