<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'login/css/login.css' %}">

    <title>Login| Gestão de Projetos</title>
</head>

<body>
    <div class="content">
        <div class="content-info">
            <h1>Gestão de Projetos</h1>
            <img src="{% static 'fotos/pana.png' %}">
        </div>
        <div class="content=login">
            <form class="content-login-box"method="POST" action="{% url 'login' %}">         
                {% csrf_token %}
                <input type="text" name="usuario" value="{{request.POST.usuario}}" class="form-control"placeholder="Usuario">
                <input type="password" name="senha" class="form-control"  placeholder="Senha">
                <hr>
                {% include 'parciais/_messages.html' %}
                <button class="btn btn-enter" type="submit">Entrar</button>
            </form>
        </div>


    </div>
    

</body>

</html>