{% extends 'base.html' %}

{% block titulo %}Tarefas |{% endblock titulo %}

{% block 'head' %}
{% load static %}

<link href="{% static 'tarefas/css/tarefas.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />

{% endblock %}

{% block 'conteudo' %}

{% comment %} #TODO: CRIAR UM BOTAO METHOD POST PARA GRAVAR A ALTERAÇÃO NO BD; {% endcomment %}


<div class="wrapper">
	<div class="box">
		<div class="titulo">
			<h2>Quadro Kanban Tarefas</h2>
		</div>

		<div class="titulo">
			<div class="col-md">
				<label>Projeto:</label>{% csrf_token %}
				<select id="projeto_select" class="form-select input-tarefa" name="projeto" onchange="alteraprojeto()">
					<option >Selecione um projeto...</option>
					{% for projeto in projetos %}
						
						<option value={{projeto.id}}>{{projeto}}</option>
					{% endfor %}

				</select>
			</div>
		</div>

		<div>
			{% comment %} <div class="col-md">
				<button type="button" class="btn-nova-tarefa" data-toggle="modal" data-target="#exampleModalCenter">Nova Tarefa	</button>
			</div> {% endcomment %}
			<div>
				<a href="#" class="btn-salvar-tarefa">Salvar</a>
			</div>
			<br>
		</div>
		<br>

		

		<br>

		<div class="container">
			<div class="column">
				<div class="column-header">Não Iniciado</div>
				<div class="task-list" id="afazer">
					{% comment %} Funcao do JS vai incluir as tarefas com status N, E, P, C {% endcomment %}
					<div>

						<div class="task" id="ModalEditarTarefa" onclick="openModal()">Editar a Tarefa Teste</div>

						<!-- Modal Exibe/Editar Tarefa -->
						{% comment %} {% include "modal_tarefa_unica.html" %}	 {% endcomment %}
					</div>					

				</div>
				<div>
					<button type="button" class="nova-tarefa-task" data-toggle="modal" data-target="#ModalNovaTarefa">
						Nova Tarefa
					</button>
				</div>
			</div>
			<div class="column">
				<div class="column-header">Em andamento</div>
				<div class="task-list" id="EmAndamento">
					{% comment %} Funcao do JS vai incluir as tarefas com status N, E, P, C {% endcomment %}
				</div>
				<div>
					<button type="button" class="nova-tarefa-task" data-toggle="modal" data-target="#ModalNovaTarefa">
						Nova Tarefa
					</button>
				</div>
			</div>
			<div class="column">
				<div class="column-header">Pendente</div>
				<div class="task-list" id="pendente">
					{% comment %} Funcao do JS vai incluir as tarefas com status N, E, P, C  {% endcomment %}
				</div>
				<div>
					<button type="button" class="nova-tarefa-task" data-toggle="modal" data-target="#ModalNovaTarefa">
						Nova Tarefa
					</button>
				</div>
			</div>
			<div class="column">
				<div class="column-header">Concluído</div>
				<div class="task-list" id="concluido">
					{% comment %} Funcao do JS vai incluir as tarefas com status N, E, P, C  {% endcomment %}
				</div>
				<div>
					<button type="button" class="nova-tarefa-task" data-toggle="modal" data-target="#ModalNovaTarefa">
						Nova Tarefa
					</button>
				</div>
			</div>
		</div>
		<br>
		<br>
		<br>
		
	</div>



</div>

<!-- Modal Nova Tarefa = templates -->
{% include "modal_nova_tarefa.html" %}

<!-- Modal Exibe/Editar Tarefa -->
{% comment %} {% include "modal_tarefa_unica.html" %}	 {% endcomment %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
<script src="{% static 'tarefas/js/tarefas.js' %}"></script>





{% endblock 'conteudo' %}


