{% load static %}
<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block titulo %}{% endblock titulo %}Gestão de Projetos</title>
  {% include 'parciais/_head.html' %}
  <link href="{% static 'base/css/base.css' %}" rel="stylesheet">
  {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"> {% endcomment %}

  {% block 'head' %}{% endblock%}
</head>


  <body class="body1">
    {% comment %} {% include 'parciais/_nav.html' %} {% endcomment %}
    <div class="sidebar">
        <div class="logo-details">
            <div class="logo_name">Gestão de Projetos</div>
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav-list">
          <li>
            <a href="{% url 'projetos' %}">
              <i class='bx bx bxs-home'></i>
              <span class="links_name">Página inicial</span>
            </a>
            <span class="tooltip">Página inicial</span>
          </li>
          <li>
            <a href="{% url 'demandas' %}">
              <i class='bx bx-git-pull-request'></i>
              <span class="links_name">Demandas</span>
            </a>
            <span class="tooltip">Demandas</span>
          </li>
          <li>
            <a href="{% url 'demandas_projeto' %}">
              <i class='bx bx-folder-plus' ></i>
              <span class="links_name">Novo</span>
            </a>
            <span class="tooltip">Novo</span>
          </li>
          
          
          <li>
            <a href="{% url 'membros' %}">
              <i class='bx bx bxs-group' ></i>
              <span class="links_name">Membros</span>
            </a>
            <span class="tooltip">Membros</span>
          </li>
          <li>
            <a href="{% url 'tarefas' %}">
              <i class="bx bx-task" ></i>
              <span class="links_name">Tarefas</span>
            </a>
            <span class="tooltip">Tarefas</span>
          </li>
          {% comment %} <li>
            <a href="{% url 'resultado' %}">
              <i class='bx bx-money' ></i>
              <span class="links_name">Resultados</span>
            </a>
            <span class="tooltip">Resultados</span>
          </li> {% endcomment %}
          
          
          <li>
            <a href="#">
              <i class='bx bx-notification' ></i>
              <span class="links_name">Notificações</span>
            </a>
            <span class="tooltip">Notificações</span>
          </li>
          
          <li>
            <a href="{% url 'admin:index' %}">
              <i class='bx bx-cog fim' ></i>
              <span class="links_name">Admin</span>
            </a>
            <span class="tooltip">Admin</span>
          </li>
          <li>
            <a href="{% url 'logout' %}">
              <i class='bx bxs-door-open fim'></i>
              <span class="links_name">Sair</span>
            </a>
            <span class="tooltip">Sair</span>
          </li>
      
        </ul>
      </div>

  </body>
      
      
    

      {% block 'body' %}
      
      {% block 'conteudo' %}
      
      {% endblock 'conteudo' %}
      
      {% endblock%}
  
    
    <script src="{% static 'base/js/base.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>

</html>