{% load static %}
<!doctype html>
<html lang="pt-BR">


  <head>
    <title>{% block titulo %}{% endblock titulo %}Gestão de Projetos</title>
  
    {% include 'parciais/_head.html' %}
  </head>


  <body class="body1">
    {% comment %} {% include 'parciais/_nav.html' %} {% endcomment %}
    <div class="sidebar">
        <div class="logo-details">
            <div class="logo_name">Gestão de Projetos</div>
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav-list">
          <li>
            <a href="{% url 'projetos' %}">
              <i class='bx bx bxs-home'></i>
              <span class="links_name">Página inicial</span>
            </a>
            <span class="tooltip">Página inicial</span>
          </li>
          <li>
            <a href="{% url 'novo_demanda' %}">
              <i class='bx bx-folder-plus' ></i>
              <span class="links_name">Novo</span>
            </a>
            <span class="tooltip">Novo</span>
          </li>
          <li>
            <a href="{% url 'cronograma' %}">
              <i class='bx bx-calendar' ></i>
              <span class="links_name">Cronograma</span>
            </a>
            <span class="tooltip">Cronograma</span>
          </li>
          <li>
            <a href="{% url 'recurso' %}">
              <i class='bx bx bxs-group' ></i>
              <span class="links_name">Recursos</span>
            </a>
            <span class="tooltip">Recursos</span>
          </li>
          <li>
            <a href="{% url 'painel' %}">
              <i class='bx bxs-bar-chart-alt-2' ></i>
              <span class="links_name">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
          </li>
          <li>
            <a href="{% url 'resultado' %}">
              <i class='bx bx-money' ></i>
              <span class="links_name">Resultados</span>
            </a>
            <span class="tooltip">Resultados</span>
          </li>
          <li>
            <a href="{% url 'admin' %}">
              <i class='bx bx-cog' ></i>
              <span class="links_name">Admin</span>
            </a>
            <span class="tooltip">Admin</span>
          </li>
          <li>
            <a href="{% url 'logout' %}">
              <i class='bx bxs-door-open'></i>
              <span class="links_name">Sair</span>
            </a>
            <span class="tooltip">Sair</span>
          </li>
      
        </ul>
      </div>
      
      {% comment %} <section class="home-section">
          {% block 'dashboard'%}
          {% endblock %}

      </section> {% endcomment %}
      
    {% block 'conteudo' %}

    <div>

    </div>

    {% endblock 'conteudo' %}
    <script src="{% static 'geral/js/base.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>