{% extends 'base.html' %}

{% block titulo %}Cadastro Novo Projeto |{% endblock titulo %}

{% block 'head' %}
{% load static %}

<link href="{% static 'projetos/css/cadastro_projeto.css' %}" rel="stylesheet">

{% endblock %}

{% block 'body' %}

    <div class="wrapper">
        <div class="box">
            <div class="header">
                <h3 class="titulo">Cadastro de Projeto</h3>
            </div>

                {% comment %} mensagem de alerta! {% endcomment %}
                {% if messages %}
    
                    {% for message in messages %}
                        <br>
                        
                        <section class="alert {{message.tags}}">
                            {{message}}
                        </section>
                    
                    {% endfor %}
            
                {% endif %}
            {% comment %} mensagem de alerta! {% endcomment %}

            <div class="body-box">
                <form action="{% url 'novo_projeto' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <div class="row">
                        <div class="col-md">
                            <label>Nome do Projeto:</label>
                                <select class="form-select input-tarefa" name="nomeprojeto">
                                    {% for demanda in demandas %}
                                    
                                        <option value={{demanda.id}}>{{demanda}}</option>
                
                                    {% endfor %}   
                
                                </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md">
                            <label>Descrição do projeto ou melhoria:</label>
                            <textarea name="descricao_projeto" class="form-control" placeholder="Descreve o objetivo do projeto ou melhoria..."></textarea>
                        </div>
                    </div>
                    <br> 
                    <div class="row">
                        <div class="col-md">
                            <label>Categoria:</label>
                                <select name="categoria" class="form-select input-tarefa">
                                    <option value="M">Melhoria</option>
                                    <option value="P">Projeto</option>
                                </select>
                        </div>
                    </div> 
                    <br>  
                    <div class="row">
                        <div class="col-md">
                            <label>Status Projeto:</label>
                                <select class="form-select input-tarefa" name="statusprojeto">
                                    {% for status in statusprojeto %}
                                    
                                        <option value={{status.id}}>{{status}}</option>
                
                                    {% endfor %}   
                
                                </select>
                        </div>
                    </div>
                    
                    
                    <br> 
                    <div class="row">
                        <div class="col-md">
                            <label>Fase Projeto:</label>
                                <select class="form-select input-tarefa" name="faseprojeto">
                                    {% for fase in faseprojeto %}
                                    
                                        <option value={{fase.id}}>{{fase}}</option>
                
                                    {% endfor %}   
                
                                </select>
                        </div>
                    </div>
                    <br>                  
                    <div class="row">
                        <div class="col-md">                            
                            <label for="numero">Prioridade:</label>
                            <input type="number" id="numero" name="prioridade" step="1" required>  
                        </div>
                    </div>
                    <br>                  
                    <div class="row">
                        <div class="col-md">
                            <label for="checkbox">Stara Mais:</label>
                            <input type="checkbox" id="checkbox" name="staramais" value="true" >
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md">
                            <label for="checkbox">Stara Labs:</label>
                            <input type="checkbox" id="checkbox" name="staralabs" value="true">
                        </div>
                    </div>
                     <hr style="background-color:gray;">


                    <div class="add-usuarios">
                        
                        <span class="btn-add-usuarios" onclick="add_usuarios_projeto()">Adicionar usuarios</span>

                        <div id="novo_usuario">
                            {% comment %} <select id="nome_usuario" class='form-select input-tarefa' name='usuarioprojeto' > {% endcomment %}
                        
                        </div>

                        {% comment %} <div class="col-md" id="form-usuario">
                            <tr> 
                                <th id="nome_usuario"></th>

                                <select id="nome_usuario" class='form-select input-tarefa' name='usuarioprojeto'>

                                </select> 
                                
                            </tr>  
                        </div>                        {% endcomment %}

                    </div>

                    
                    
                    <br>
                    {% comment %} <div class="row">
                        <div class="col-md">
                            
                            

                            {% for equipe in equipes %}
                                <input type="checkbox" name="equipe_teste" value="{{equipe.id}}">
                                    <label>{{equipe.username}}</label><br>                            
                                
                            {% endfor %}   
                        </div>
                    </div> {% endcomment %}
                    <br>
                    <br>
                    <br> 
                    <br> 
                    <br> 

                    {% comment %} <div> 
                        <table class='tabela' cellpadding='20'> 
                            <tr> 
                                <th>Usuario</th> 
                                <th>Perfil</th>  
                                <th>Recebe Email?</th> 
                            </tr>  
                            <tr>
                                <td>
                                    <select class='form-select input-tarefa' name='usuarioprojeto'>
                                        {% for usuario in usuarios %}                                    
                                            <option value={{usuario.usuario_id}}>{{usuario}}</option>                
                                        {% endfor %}   
                                    </select>
                                </td>
                                <td> 
                                    <select class='form-select input-tarefa' name='perfil'>
                                        {% for perfil in perfis %}                                    
                                            <option value={{perfil.id}}>{{perfil}}</option>                
                                        {% endfor %}   
                                    </select>
                                </td>
                                <td>
                                    <input type='checkbox' placeholder='recebe email' class='form-control' name='recebe_email'>
                                </td>
                                <td>
                                <span type='submit' class='btn-add-usuarios' name='apagar_usuario'>
                                    Apagar
                                </span>
                                    
                                </td>
                                     
                            </tr> 
                        </table>    
                    </div> {% endcomment %}


                    <br>
                    {% comment %} #TODO: incluir o papel do usuario no projeto {% endcomment %}
                    <input type="submit" value="Novo Projeto" class="btn btn-lg btn-orange">
                </form>



                
                
            </div>
        </div>
    </div>
    <script src="{% static 'projetos/js/novoprojeto.js' %}"></script>
{% endblock%}