{% extends 'base.html' %}

{% block titulo %}Cadastro Novo Projeto |{% endblock titulo %}

{% block 'head' %}
{% load static %}

<link href="{% static 'projetos/css/cadastro_projeto.css' %}" rel="stylesheet">
{% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> {% endcomment %}


{% endblock %}

{% block 'body' %}

    <div class="wrapper">
        <div class="box">
            <div class="header">
                <h3 class="titulo">Cadastro de Projeto</h3>
            </div>

                {% comment %} mensagem de alerta! {% endcomment %}
                {% include "parciais/_messages.html" %}
                {% comment %} mensagem de alerta! {% endcomment %}

            <div class="body-box">
                <form id="id_projeto" action="{% url 'novo_projeto' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <div class="row">
                        <div class="col-md">
                            <label>Nome do Projeto:</label>
                                <select id="projeto_select" class="form-select input-tarefa" name="nomeprojeto">
                                    {% for demanda in demandas %}                                    
                                        <option value={{demanda.id}}>{{demanda}}</option>                
                                    {% endfor %}   
                
                                </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md">
                            <label>Descrição do projeto ou melhoria:</label>
                            <textarea name="descricao_projeto" class="form-control" placeholder="Descreve o objetivo do projeto ou melhoria..."></textarea>
                        </div>
                    </div>
                    <br> 
                    <div class="row">
                        <div class="col-md">
                            <label>Categoria:</label>
                                <select name="categoria" class="form-select input-tarefa">
                                    <option value="M">Melhoria</option>
                                    <option value="P">Projeto</option>
                                </select>
                        </div>
                    </div> 
                    <br>  
                    <div class="row">
                        <div class="col-md">
                            <label>Status Projeto:</label>
                                <select class="form-select input-tarefa" name="statusprojeto">
                                    {% for status in statusprojeto %}
                                    
                                        <option value={{status.id}}>{{status}}</option>
                
                                    {% endfor %}   
                
                                </select>
                        </div>
                    </div>
                    
                    
                    <br> 
                    <div class="row">
                        <div class="col-md">
                            <label>Fase Projeto:</label>
                                <select class="form-select input-tarefa" name="faseprojeto">
                                    {% for fase in faseprojeto %}
                                    
                                        <option value={{fase.id}}>{{fase}}</option>
                
                                    {% endfor %}   
                
                                </select>
                        </div>
                    </div>
                    <br>                  
                    <div class="row">
                        <div class="col-md">                            
                            <label for="numero">Prioridade:</label>
                            <input type="number" id="numero" name="prioridade" step="1" required>  
                        </div>
                    </div>
                    <br>                  
                    <div class="row">
                        <div class="col-md">
                            <label for="checkbox">Stara Mais:</label>
                            <input type="checkbox" id="checkbox" name="staramais" value="true" >
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md">
                            <label for="checkbox">Stara Labs:</label>
                            <input type="checkbox" id="checkbox" name="staralabs" value="true">
                        </div>
                    </div>
                    <hr>
                    <h3>Cadastrar Usuarios do Projeto:</h3>
                    <div id="form-usuarios">
                    </div>
                    <span class="btn-add-usuarios" onclick="add_usuarios_projeto()">+ Novo Usuario</span> 
                    <hr>
                    <input type="submit" value="Novo Projeto" class="btn btn-lg btn-orange">
                </form>   
            </div>
        </div>
    </div>

<script src="{% static 'projetos/js/novoprojeto.js' %}"></script>

    
{% endblock%}

