{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link href="{% static 'projetos/css/projeto_unico.css' %}" rel="stylesheet">
{% endblock%}


{% block 'body' %}

    
    <br>
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <br>
                <section class="alert {{message.tags}}">
                    {{message}}
                </section>
            {% endfor %}
        {% endif %} 
        
        <form id="projeto_select" action="{% url 'projeto_unico' projeto.id %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <div class="row">         
                <div class="col-md">
                    <h1 id="id_projeto" class="titulo">{{projeto.nome_projeto}}</h1>
                </div>         
            </div>
            <br>
            <div class="row">
                <div class="col-md-7">
                    <div >
                        <label>Descricão do projeto ou melhoria:</label>
                        <p>{{projeto.descricao_projeto}}</p>
                        {% comment %} #TODO: verificar para quebrar a linha; {% endcomment %}
                    </div>
                </div>
            </div>
            <hr>
             <div class="col-md-7">
                    <label>Progresso Atual: 
                    
                        <p>45%</p> 
                    
                    </label>
                        
                        <div style="width: 100%" class="progress">
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 45%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
            </div>
            <hr>


            <div class="row">
                <div class="col-md-7">
                    <label>Categoria:</label>
                    <label disabled class="form-control">{{projeto.get_categoria_display}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <label>Status:</label>
                    <label disabled class="form-control">{{projeto.status}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <label>Fase:</label>
                    <label disabled class="form-control">{{projeto.fase}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <label>Setor:</label>
                    <label disabled class="form-control">{{demanda_unica.setor_demanda}}</label>
                </div>
            </div>

            <br> 
            <div class="row">
                <div class="col-md-7">
                    <div >
                        <label>Retorno Financeiro:</label>
                        <p>{{demanda_unica.retorno_financeiro}}</p>
                    </div>
                </div>
            </div>

            <br> 
            <div class="row">
                <div class="col-md-7">
                    <div >
                        <label>Calculo retorno:</label>
                        <p>{{demanda_unica.base_calculo_retorno}}</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-7">
                    <div >
                        <label>Retorno Qualitativo:</label>
                            <p>{{demanda_unica.retorno_qualitativo}}</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-7">
                    <div >
                        <label>Link Analise:</label>
                            <a href="{{demanda_unica.link_analise}}">{{demanda_unica.link_analise}}</a>
                    </div>
                </div>
            </div>
            
            <br>
            


            <hr>
            <div class="row">
                <div class="col-md-7">
                    <label>Nome solicitante:</label>
                    <label disabled class="form-control">{{demanda_unica.nome_solicitante}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <label>Data Cadastro:</label>
                    <label disabled class="form-control">{{demanda_unica.data_cadastro}}</label>
                </div>
            </div>            
            <hr>          
            
            <button type="button" class="btn-add-usuarios" data-toggle="modal" data-target="#modalusuariocadastrados">Usuarios Cadastrados</button>
            <button type="button" class="btn-add-usuarios">Ata de Reunião</button>           

            <div class="modal fade" id="modalusuariocadastrados" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title titulo" id="myModalLabel">Usuarios Cadastrados no Projeto</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Usuario</th>
                                <th>Perfil</th>
                                <th>Recebe Email?</th>
                            </tr>   
                        </thead>
                        <tbody>                    
                            <td>
                                {% for usuario_projeto in usuarios_projeto %}
                                    <p>{{usuario_projeto.usuario}}</p>
                                {% endfor %}
                            </td>
                            <td>
                                {% for usuario_projeto in usuarios_projeto %}
                                    <p>{{usuario_projeto.perfil}}</p>
                                {% endfor %}
                            </td>
                            <td>
                                {% for usuario_projeto in usuarios_projeto %}
                                
                                    {% if usuario_projeto.recebe_email == 1 %}                                        
                                        <img src="{% static 'projetos/svg/ok.svg' %}" alt="">                                        
                                    {% else %}
                                        <img src="{% static 'projetos/svg/cancel.svg' %}" alt="">                                  
                                    {% endif %}
                                    <br>
                                {% endfor %}
                            </td>
                        </tbody>
                    </table>

                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Sair</button>
                    </div>
                </div>
                </div>
            </div>
            </div>

            <br>
            {% comment %} <div>
                <span class="btn-add-usuarios" onclick="usuarios_projeto_teste()">Usuarios Cadastrados Teste</span>
            </div> {% endcomment %}

    </div>
<script src="{% static 'projetos/js/projeto_unico.js' %}"></script>   
{% endblock %}