{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link href="{% static 'projetos/css/projeto_unico.css' %}" rel="stylesheet">
{% endblock%}


{% block 'body' %}

   

    
    <br>
<div class="container">

    {% include "parciais/_messages.html" %}
        
        
    <form id="projeto_select" action="{% url 'projeto_unico' projeto.id %}" enctype="multipart/form-data">{% csrf_token %}
        <div class="row">         
            <div class="col-md">
                <h1 id="id_projeto" class="titulo">{{projeto.nome_projeto}}</h1>
            </div>         
        </div>
        
        <br>
        <div class="row">
            <div class="col-md">
                <div style="max-width: 100%; word-wrap: break-word;">
                    <label>Descricão do projeto ou melhoria:</label>
                    <p >{{projeto.descricao_projeto}}</p>
                    {% comment %} #TODO: verificar para quebrar a linha; {% endcomment %}
                </div>
            </div>
        </div>
        <br>
        <button type="button" class="btn-add-usuarios" data-toggle="modal" data-target="#modalusuariocadastrados">Usuarios Cadastrados</button>
        <button type="button" class="btn-add-usuarios" data-toggle="modal" data-target="#modalata">Cadastro Ata</button>
        <hr>
        <div class="col-md-7">
                <label>Progresso Atual:</label>                        
                    <div style="width: 100%" class="progress">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: {{ percentual_projeto }}%" aria-valuenow="{{ percentual_projeto }}" aria-valuemin="0" aria-valuemax="100">{{ percentual_projeto }}%</div>
                    </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-7">
                <label>Categoria:</label>
                <label disabled class="form-control">{{projeto.get_categoria_display}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <label>Status:</label>
                <label disabled class="form-control">{{projeto.status}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <label>Fase:</label>
                <label disabled class="form-control">{{projeto.fase}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <label>Setor:</label>
                <label disabled class="form-control">{{demanda_unica.setor_demanda}}</label>
            </div>
        </div>

        <br> 
        <div class="row">
            <div class="col-md-7">
                <div >
                    <label>Retorno Financeiro:</label>
                    <p>{{demanda_unica.retorno_financeiro}}</p>
                </div>
            </div>
        </div>

        <br> 
        <div class="row">
            <div class="col-md-7">
                <div >
                    <label>Calculo retorno:</label>
                    <p>{{demanda_unica.base_calculo_retorno}}</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7">
                <div >
                    <label>Retorno Qualitativo:</label>
                        <p>{{demanda_unica.retorno_qualitativo}}</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md">
                <div >
                    <label>Link Analise:</label>
                        <a href="{{demanda_unica.link_analise}}">{{demanda_unica.link_analise}}</a>
                </div>
            </div>
        </div>
        
        <br>      


        <hr>
        <div class="row">
            <div class="col-md-7">
                <label>Nome solicitante:</label>
                <label disabled class="form-control">{{demanda_unica.nome_solicitante}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <label>Data Cadastro:</label>
                <label disabled class="form-control">{{demanda_unica.data_cadastro}}</label>
            </div>
        </div>
    </form>            
                 
        
        

        {% comment %} Modal dos usuarios {% endcomment %}
        {% include "modal_usuarios_cadastrados.html" %}
        {% include "modal_atas.html" %}                     
                     

      

        

      
        
    
        

    
</div>
<br>


<div class="container bg3">                
            <div class="row">
                <div class="col-md">
                    <p>Envie e-mails do Status Report por aqui.</p>
                </div>

                <div class="col-md">
                    <form action="{% url 'envia_email' projeto.id %}" method='POST'>{% csrf_token %}
                        <label>Assunto:</label>
                        <input name="assunto" type="text" class="form-control" placeholder="assunto">
                        <br>
                        <label>Informações adicionais:</label>
                        <textarea name="corpo" class="form-control"></textarea>
                        <br>
                        <input type="submit" class="btn btn-orange" value="Enviar">
                    </form>
                </div>
            </div>
        </div>


<script src="{% static 'projetos/js/projeto_unico.js' %}"></script>   
{% endblock %}